<!-- two way to bind properties in html -->
<h4 [id]="myId">interpolation: {{ name }}</h4>
<!-- booleam attribute does not work with interpolation -->
<input disabled="false" type="text" value="disabled">
<input [disabled]="isDisabled" type="text" value="disabled binding attr">
<input bind-disabled="isDisabled" type="text" value="disabled binding attr">
<h4 id='{{myId}}'>string functions used: {{ name.length + name.toUpperCase() }}</h4>
<!-- class binding -->
<h4 [class.text-danger]="hasError" (dblclick)="onColorChange()">function greetUser return: {{ greetUser() }}</h4>
<!-- binding class using obj -->
<h4 [ngClass]="messageClasses">site url: {{ siteUrl }}</h4>
<button (click)="onClick()">Greet</button><h4>{{ greating }}</h4>
<button (click)="onEventInfo($event)">Event info</button><h4>{{ eventType }}</h4>

<input #myInput type="text">
<button (click)="logMassage(myInput.value)">Log in</button>

<!-- ng model directive -->
<h4>ngModel:</h4>
<input [(ngModel)]="userType" type="text">
{{ userType }}
