<div style="text-align: center;">
  <h1>App Title: {{ title }}</h1>

  <!-- three ways to specify the component -->
  <!-- selector: "app-test" -->
  <!-- <app-test></app-test> -->

  <!-- selector: ".app-test" -->
  <!-- <div class="app-test"></div> -->

  <!-- selector: "[app-test]" -->
  <!-- <div app-test></div> -->

  <!-- <app-test></app-test>
  <h2>app-structural-directive component</h2>
  <app-structural-directive></app-structural-directive> -->
  <!-- <app-parent></app-parent> -->
  <h1>Angular Router App</h1>
  <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
  <nav>
    <ul>
      <li><a routerLink="/department" routerLinkActive="active">department</a></li>
      <li><a routerLink="/employee" routerLinkActive="active">employee</a></li>
      <li><a routerLink="/first" routerLinkActive="active">piping</a></li>
      <li><a routerLink="/forms" routerLinkActive="active">forms</a></li>
    </ul>
  </nav>
  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>
</div>

