<div class="container-fluid">
  <h1>Emrollment form</h1>
  <form #userForm="ngForm">

    {{userForm.value | json}}
    <hr />
    {{userModel | json}}

    <div class="form-group">
      <label>name</label>
      <!-- two way binding -->
      <!-- is-invalid is the bootstrap class for validation which will show red frame when the user input is not valid -->
      <!-- class binding with a condition-->
      <!-- if name is invalid and touched, the is-invalid class will work -->
      <!-- ngModle has classes and properties and #name="ngModel" is to get properties-->
      <!-- #name you can get name.class and  #name="ngModel" you can get name.invalid directly-->
      <input type="text" required #name="ngModel"
      [class.is-invalid]="name.invalid && name.touched" class="form-control" name="name" [(ngModel)]="userModel.name">
      <!-- class binding to show the error info -->
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
    </div>

    <!-- ng-pristine/ng-dirty when users change the content in the form -->
    <!-- ng-valid if the required form is not filled, it will change to ng-invalid -->
    <h5>class "name": {{name.valid}}</h5>

    <div class="form-group">
      <label>email</label>
      <!-- ond way binding -->
      <input type="email" class="form-control" name="email" [ngModel]="userModel.email">
    </div>

    <!-- phone number should have ten digits -->
    <div class="form-group">
      <label>phone number</label>
      <input type="tel" #phone="ngModel" pattern="^\d{10}" [class.is-invalid]="phone.invalid && phone.touched" required
      class="form-control" name="phone" [(ngModel)]="userModel.phone">
      <!-- the error property of ngModel -->
      <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
        <small class="text-danger" *ngIf="phone.errors.required">Phone number is required</small>
        <small class="text-danger" *ngIf="phone.errors.pattern">Phone number has to have ten digits</small>
      </div>
    </div>

    <div class="form-group">
      <select class="costume-select" name="interested" [(ngModel)]="userModel.interested">
        <option selected>I am interested in</option>
        <option *ngFor = "let topic of topics">{{topic}}</option>
      </select>
    </div>

    <!-- group form -->
    <!-- <div ngModelGroup="address">
      <div class="form-group">
        <label>street</label>
        <input type="text" class="form-control" name="street" ngModel>
      </div>
      <div class="form-group">
        <label>city</label>
        <input type="text" class="form-control" name="city" ngModel>
      </div>
      <div class="form-group">
        <label>country</label>
        <input type="text" class="form-control" name="country" ngModel>
      </div>
    </div> -->

    <div class="mb-3">
      <label>time preference</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" [(ngModel)]="userModel.timePreference" name="timePreference" value="morning">
        <label class="form-check-label">Morning (9am-12pm)</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" [(ngModel)]="userModel.timePreference" name="timePreference" value="afternoon">
        <label class="form-check-label">Afternoon (12pm-5pm)</label>
      </div>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" [(ngModel)]="userModel.subscribe" type="checkbox" name="subscribe">
      <label class="form-check-label">Send me promotional offers</label>
    </div>

    <button class="btn btn-primary" type="submit">Submit form</button>

  </form>
</div>
